@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* ################ html element styling #################### */
:root{
    /* font size default 16px 
    -- 16px ==== 100% 
    -- 10px == (100/16 * 10) ==> 62.5%*/
    font-size: 62.5%;   /* ====> 10px */ 
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
    /* border-radius: 100%; */
}
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.12em;
}
h1,h2,h3{
    margin-bottom: .0.5em;
    letter-spacing: 0.1em;
    font-weight: 500;
}


/* ########### utility Classes ######### */
.bg-dark{
    background: #263238;
}
.lg-heading{
    font-size: 3.5rem;
    /* text-transform: uppercase; */
}

.md-heading{
    font-size: 2.2rem;
}
.text-red{
    color: #f33b3b;
}

.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-gray{
    color: #555;
}



/* ####################### nav-page ###################### */
.nav-bar a:link,
.nav-bar a:visited{
    color: #f4f4f4;
}
.nav-bar a:hover{
    border-bottom: 2px solid #ddd;
}
.nav-bar a{
    padding-bottom: 0.3rem ;
}

.nav-bar{
    padding: 1rem;
    /* border: 2px solid green; */
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;

}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}
.btn-primary:hover{
    background-color: #ddd;
    
}
.btn-secondary{
    border: 2px solid #f33b3b ;
    color: #f33b3b;
    border-radius: 10em;
    
}
.btn-secondary:hover{
    background-color: #fcf3f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.header{
    position: relative;
    height: 100vh;
    /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url('./header-image.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url('./img2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    /* color: white; */
    font-weight: 400;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
 
.header-content p{
    text-transform: uppercase;

}
.header .nav-bar a{
    color: white;
    
    /* font-size: 3.5rem; */
}

.nav-bar .logo {
    float: left;
}
.nav-bar .nav-items{
    float: right;
    margin: 1rem;
}

.nav-bar::after{
    content: "";
    display: block;
    clear: both;
}

.nav-bar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}




/* ################# header content styling #################### */
.header-content {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    /* border: 4px solid #cdcdcd; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* width: 101em;
    margin: 0 auto; */
}




/* ############################## show case styling ####################### */
.show-case{
    /* background-color: #CFD2CF; */
    /* background-image: linear-gradient(to right  , #a4b0be, #B9F3E4 ); */
    background-image: linear-gradient(to right  , #b1e8fc , #bbc6fc);
    /* background-color: white; */
  
    padding: 10rem 0;
}

.row{
    width: 100%;
    margin-top: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.column{
    width: 32%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* border: 2px solid white; */
}
.column::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #181819;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.column:hover::after{
    opacity: 0.8;
}
.column img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out ;
}
.column:hover img{
    transform: scale(1.1);
}

.box-content{
    position: absolute;
    top: 80%;
    left: -50%;
    color: rgb(255, 255, 255);
    transform: translate(-50% , -50%);
    z-index: 2;
    transition: all 0.3s ease-in-out
}
.box-content h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}
.column:hover .box-content{
    /* top: 80%; */
    opacity: 1;
    left: 40%;
}

/* ###################### features section styling wraper box ################## */
.features{
    padding: 10rem 0;
    
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

.features .box-wraper{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;

}
.features .box-wraper .box{
    width: 30%;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
    /* border: 2px solid white; */

}
.features .box-wraper .feature-hd{
    font-size: 2rem;
}

.box1 , .box3{
    background: #263238e5;
    color: #fff;
}
.box2{
    color: white;
    background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

/* ########################## footer ###################### */
.footer{
    background: #263238e5;
    color: #f4f4f4;
    text-align: center;
    padding: 2rem;
    /* width: 100%; */
}
.social-media-links i{
    margin: 1rem;
}




/* ######################## about page ####################### */


.about{
    margin: 0.5rem 0rem;
    /* border: 2px solid green;  */
    padding: 5rem 0rem;
    color: white;
    background-image:url('./header-image2.jpg');
}
/* .about-heading{
    border-bottom: 6px solid  #f33b3b;
} */

.about-heading::after{
    color: white;
    content: "";
    border: 3px solid #f33b3b;
    background-color: #f33b3b;
    /* color: #f33b3b; */
    display: block;
    width: 100%;
    
}
.about p{
    padding: 2rem 0rem;
    color: white;
}


.text-row{
    /* width: 70%; */
    /* border: 2px solid red; */
    text-align: center;
    margin: top 2rem; ;
}
.text-row .left{
    /* border: 2px solid green; */
    /* padding: 1rem; */
    float: left;
    width: 50%;
}
.text-row .right{
    /* border: 2px solid green; */
    /* padding: 1rem; */
    float: right;
    width: 50%;
}

.text-row::after{
    content: "";
    display: block;
    clear: both;
}

.text-row li::before{
    content:'\2713';
    color: #f33b3b;
    font-weight: bold;
    padding-right: 1rem ;
}
.num-row{
    margin-top: 2rem;
    /* border: 2px solid red; */
    width:100% ;
    /* height: 20vh; */
}
.num-item span{
    
    text-align: center;
    display: inline-block;
    /* border: 2px solid red; */
    color: #f33b3b;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
    /* padding-bottom: 0.5rem; */
}
.num-row .num-item{
    /* border: 2px solid black; */
    text-align: center;
    width: 25%;
}

.num-row .num-item{
    float: left;
}
.num-row::after{
    content:"";
    display: block;
    clear: both;
}
.num-row p{
    font-weight: 700;
    font-size: 1.8rem;
    padding: .2rem ;
    /* background:#f33b3b; */
}


/* ############# contact banner ############## */
body{
    background-color: #CFD2CF;
}
.cact{
    /* border: 10px solid black; */
    width: 100%;
    background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px #041936;
}

.cact .cta-banner-left{
    /* border: 2px solid white; */
    width: 60%;
    float: left;
}
.cact .cta-banner-right{
    /* border: 2px solid white; */
    /* display: inline-block; */
    width: 40%;
    float: right;   
    text-align: center;
}

.cact::after{
    content:'';
    display: block;
    clear: both;
}
.cta-line{
    /* border: 2px solid white; */
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 1rem;

}

.btn-cta{
    border: 1px solid red;
   text-align: center;
    border: 4px solid white;
    border-radius: 5rem;
    display: inline-block;
    text-align: center;
    color: #f4f4f4;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 5rem;
    text-transform: uppercase;
    margin: 1rem 1rem;
}


/* #####################contact page styling ######################### */

.contact-form{
    padding: 5rem 0;
    background-color: #f7f7f7;
}



.form-wraper .company-address{
    height: 98vh;
    background-color: #f7f7f7;

    float: left;
    width: 49%;
    padding: 2rem;

}

.form-wraper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}


.company-address .address-group p,h2{
    font-size: 1.5rem;
    /* margin-bottom: 3rem;   */

}
.form-wraper .company-address h2{
    text-transform:uppercase ;
    display: inline-block;
    margin-right: 1rem;
}
.form-wraper::after{
    content: '';
    display: block;
    clear: both;
}
.company-address img{
    max-width: 90%;
    max-height: 40rem;
    object-fit: cover;
    object-position: right;
}

.form-wraper .company-form{
    height: 98vh;
    float: right;
    width: 49%;
    /* border: 2px dotted black; */
    padding: 1rem;
    /* text-align: center; */

}

.company-form h1::after{
    content: '';
    border: 2px solid #ef061e;
    background-color: #f33b3b;
    display: block;
    width: 100%;
    box-shadow: 1px 1px 5px 0px #ef061e;
    margin-bottom: 0.5rem;
}

.company-form label{
    font-weight: 500;
    font-size: 1.8rem;
    display: block;
}

.form-wraper input{
    padding: 1rem;
    width: 100%;
}

.form-group{
    margin-bottom: 1rem;
}

.form-wraper .company-form label::after{
    content: '*';
    color: #f33b3b;
}

.form-wraper .company-form textarea{
    width: 100%;
    height: 200px;
    padding: 1rem;
}

.form-wraper .company-form .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em  3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #ef061e;
    color: white;
    /* outline-style: none; */
    border: none;
    cursor:grabbing;

    box-shadow: 2px 2px 5px 1px #ef061e;
}



.form-wraper .company-address, .company-form{
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px 1px #aaa;
}





/* ############################# media queries ################################# */



@media (max-width:512px){
    *{
        /* font-size: 8px; */
        font-size: 50%;
    }
    .nav-bar .nav-items, .nav-bar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content p{
        display: none;
    }
    
    .row-heading h1{
        font-size: 1.9rem ;
    }
    .row-heading p{
        font-size: 1.6rem ;
        letter-spacing: 1px;
    }
    .row{
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
    }
    .box-content h1{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    .box-content h2{

        font-size: 1.2rem;
    }
    
    .column{
        width: 70%;
        height: 350px;
        margin: 1.5rem 0;
    }

    .features .box-wraper{
        flex-direction: column;
        align-items: center;
    }
    .features .box-wraper .box{
        width: 70%;
        margin: 1.5rem 0 ;
    }
    .features .box-wraper .feature-hd{
        font-size: 1.6rem;
    }
    
    .cact .cta-banner-left{
        float: none;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }
    .cact .cta-banner-right{
        float: none;
        width: 100%;   

    }
    .btn-cta{
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
    }
    .num-item span{
    font-weight: 500;
    font-size: 2rem;
    }
    .num-item p{
        font-size: 1.3rem;
    }
    .form-wraper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
        /* text-align: center; */
    }
    .form-wraper .company-form{
        float: none;
        width: 100%;
        height: auto;
    }
    .text-row .left ,
    .text-row .right{
        width: 100%;
   }
    .lg-heading{
        font-size: 2rem;
        /* text-transform: uppercase; */
    }   
    .md-heading{
        font-size: 1rem;
    }
    
    p,li{
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        letter-spacing: 0px;
    }
    h1,h2,h3{
        margin-bottom: 0.5em;
        letter-spacing: 0px;
        font-weight: 500;
    }
    
}

@media (min-width:513px) and (max-width:1000px){
    *{
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }
    .nav-bar .nav-items, .nav-bar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .row-heading h1{
        font-size: 1.6rem ;
    }
    .row-heading p{
        font-size: 1.2rem ;
        letter-spacing: 1px;
    }
    .row{
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
    }
    .box-content h1{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    .box-content h2{

        font-size: 1.2rem;
    }
    
    .column{
        width: 70%;
        height: 350px;
        margin: 1.5rem 0;
    }
    .features .box-wraper{
        flex-direction: column;
        align-items: center;
    }
    .features .box-wraper .box{
        width: 70%;
        margin: 1.5rem 0 ;
    }
    
    .cact .cta-banner-left{
        float: none;
        width: 100%;
        text-align: center;
    }
    .cact .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
        
    }

    .form-wraper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
        /* text-align: center; */
    }
    .form-wraper .company-form{
        float: none;
        width: 100%;
        height: auto;
    }


}


@media(min-width:769px)and(max-width:1200px){
    *{
        font-size:56.25%;
    }
    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 400px;
    }
}


@media(orientation:landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
    
}